html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 2px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: #ffffff
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}


.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: solid 15px white;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;

}

button {
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #070707;
    background-color: #927076;
    font-size: 3rem;
    color: rgb(241, 238, 238);
}

button:hover {
    background-color: #eaeaea;
    color: black;
}

.operator {
    color: #0b0c0c;
    background-color: #4e9ed4;
}

.all-clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
}

.all-clear:hover {
    background-color: #f17377;
}

.equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 60px;
    grid-area: 5 / 1 / 6 / 5;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}

